input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    font-size: larger;
    padding: 14px 20px;
    margin: 8px 0;
    border: 5px solid white;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
  
#form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.confirmationMessage {
    display:none;
}

.errorMessage {
    display: none;
    border:2px solid red;
    background-color:indianred;
    border-radius: 25px;
    padding:5px;
    width:100%;
    color: rgb(255,255,255);
    font-weight: bold;
}